.signup-container {
  max-width: 400px;
  min-height: 420px;
  margin: 0 auto;
  padding: 32px 24px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 16px 0 rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.full-width {
  width: 100%;
}

mat-form-field {
  margin-bottom: 16px;
}



.mat-input-element {
  color: #111 !important;
}

.mat-input-element::placeholder {
  color: #cfcfcf !important;
  opacity: 1;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #e0e0e0;
  border-color: #e0e0e0;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: #bdbdbd;
  border-color: #bdbdbd;
}


.switch-link {
  margin-top: 16px;
  text-align: center;
}
