/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #FFFDF6;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

input, .mat-input-element {
  color: #111 !important;
}
